      body {
        padding-top: 0px;
        padding-bottom: 0px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 900px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 20px 0;
        text-align: center;
      }

      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }

      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .marketing p + h2 {
        margin-top: 28px;
      }

      .span12{
        padding:20px;}

      .sponsor {
        color:#999;
        font-size: 1.6em;
        font-style: italic;
      }

      ::selection {
        background: #fff; color: #000000;}

      ::-moz-selection {
        background: #fff; color: #000000;}

      .footer-white {color: white;}

      .fade {opacity: .5;}

      .fade:hover {opacity:1;}

      p.bio {
          font-size: 1.5em;
          line-height: 1.555em;
          color: #d5d7dd;
          text-align: left;
      }

      p.intro-bio {
          font-size: 1.6em;
          line-height: 1.6em;
          color: #6e7280;
      }

      .media h1 {font-size: 2.5em;
        line-height: 1.333em;
          color: #ffffff;
          font-weight: normal;
        }


      @media screen and (max-width: 767px) {
  .show-on-mobile {
    display: inherit !important;
  }

  .hide-on-mobile {
    display: none !important;
  }

  span, h1.top  {font-size: 21px !important; margin: 0px 0px 0px 0px !important; }

.section, .section2, .section3, .section4, .section5, .section6, .section7, .map, .pastevent {
  padding: 0px !important;}

.span12 {padding: 10px;}

.section4 {padding: auto !important; text-align: center;}

.lander {margin: auto auto !important;}

.heavy {font-weight: 800; text-align: center; font-size: 32px !important;}

.center {font-size: 16px !important;}

.section7 {font-size: 16px !important;}

.social {font-size: 5em !important;}

.intro-bio {text-align: left !important; font-size: 18px !important; line-height: 1.8 !important;}

.big {font-size: 70px !important; text-align: center !important;}

.jumbotron {margin: 10px 20px !important;}

.media h1 {font-size: 18px !important; line-height: 21px !important; text-align: center !important; margin: 30px 0 !important;}

.icon {max-width: 220px !important;}

.TEDx {max-width: 300px !important;}

.blog {max-width: 50px !important;}

.top-text {padding: 10px !important;}

.characters {display: none;}

}

/* -- end resposive -- */

h1.top {
  margin: 0px 0px 30px 0px;
  color: #333333;
  font-size: 70px;
  vertical-align:middle;
  font-weight: normal;
  font-family: 'Playfair Display SC', serif;
  top: -5px;
  position: relative;
  display: block;
  text-align: center;
  }

  .center {text-align: center;
    font-size: 21px;}

  .dates{font-variant:small-caps;}

  .scaleup{width: 100%;}

  .section, .section2, .section3, .section4, .section5, .section6, .section7, .map, .pastevent, .section10 {
  width: 100%;
  padding: 0px;
}

.section {background: #333a3e;}

.section2 {background: url(img/TEDx-back.jpg) no-repeat center center #2a2a2a; background-size:cover;-moz-background-size:cover;-webkit-background-size:cover;-o-background-size:cover}

.map {background: #0084B4;}

.lends {background: #2c3e50;}

.section3 {background: #3AA4F5;}

.altbio {color: #555555 !important;}

.about {color: #FFFFFF !important;}

.about a {color: #ff2b06 !important;}

.section5 {background: #0D0D0D; color: #FCFCFC !important;}

.section6 {background: #282828;}

.section7 {background: #313131; color: #555 !important; }

.section7 a {color: #999 !important;}

.section10 {background: #000000}

.section4 {background: #1f2026}

.section8 {background: #006d62;}

.history {background-color: #161d20;}

.center {text-align: center !important;}

.limit{ max-width: 200px;}

.magic:hover {opacity: .8;}


  a.landing-btn {
  color: white;
  font-size: 18px;
  background: #3498DB;
  padding: 15px 30px;
  margin: 40px 0px;
  border: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.landing-btn:hover {background: #2980B9; text-decoration: none;}

  a.pastevent-btn {
  color: white;
  font-size: 18px;
  background: #2ECC71;
  padding: 15px 30px;
  border: none;
  text-decoration: none;
}

.pastevent-btn:hover {background: #27AE60; text-decoration: none;}

  a.email-btn {
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 3px;
  border: rgba(255,255,255,0.4) solid 2px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: all .1s ease-in-out;
          -moz-transition: all .1s ease-in-out;
          -o-transition: all .1s ease-in-out;
          -ms-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;
}

  a.back-btn {
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  margin: 40px 0px;
  border: rgba(255,255,255,0.4) solid 3px;
  border-radius: 60px;
  text-decoration: none;
}

.email-btn:hover {border: #fff solid 1px; text-decoration: none; color: #fff;}

.heavy {font-weight: 800; text-align: center; font-size: 52px;}

.lander {margin: 50px auto 0px auto;}

.social {font-family: 'entypo-social';
          font-size: 7em;
          line-height: .6}

.characters {font-family: 'entypo';
          font-size: 5em ;
          line-height: .5;
          text-align: center; color: #fff; opacity: .4; padding-top: 100px;}

.social a {color: #FFFFFF}

.social a:hover {color: rgba(0, 0, 0, .8) !important;}

@font-face {
    font-family: "entypo-social";
    src: url("fonts/entypo-social.woff") format('woff');
}

@font-face {
    font-family: "entypo-social";
    src: url("fonts/entypo-social.eot") format('eot');
    font-weight: bold;
}

@font-face {
    font-family: "entypo-social";
    src: url("fonts/entypo-social.svg") format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "entypo-social";
    src: url("fonts/entypo-social.ttf") format('ttf');
    font-style: italic;
}


@font-face {
    font-family: "entypo";
    src: url("fonts/entypo.woff") format('woff');
}

@font-face {
    font-family: "entypo";
    src: url("fonts/entypo.eot") format('eot');
    font-weight: bold;
}

@font-face {
    font-family: "entypo";
    src: url("fonts/entypo.svg") format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "entypo";
    src: url("fonts/entypo.ttf") format('ttf');
    font-style: italic;
}

.name{ font-weight: 700; color: #282624;
  font-size: 1.1em;}

.jumbotron {
margin: 20px 70px;}

.twitter {background: #00A0D1 !important;}

.github {background: #9cdaf0 !important;}

.blog {background: #000000 !important; max-width: 70px; margin: auto auto;}

.linkedin {background: #4875B4 !important;}

.dribbble {background-color: #ea4c89 !important;}

.blog a:hover {opacity: .8;}

.icon {max-width: 375px; text-align: center; margin: auto auto;}

.TEDx {max-width: 500px; text-align: center; margin: 40px auto auto auto;}

a.intro-color {
  color: white;
  font-size: 18px;
  padding: 15px 30px;
  margin: 40px 0px;
  border-radius: 27px;
  border: white solid 2px;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-transition: all .1s ease-in-out;
          -moz-transition: all .1s ease-in-out;
          -o-transition: all .1s ease-in-out;
          -ms-transition: all .1s ease-in-out;
          transition: all .1s ease-in-out;}

a.intro-color:hover {border-color: #27ae60; text-decoration: none; color: #27ae60;}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px)}100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInUp{0%{opacity:0;-moz-transform:translateY(20px)}100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInUp{0%{opacity:0;-o-transform:translateY(20px)}100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInUp{0%{opacity:0;transform:translateY(20px)}100%{opacity:1;transform:translateY(0)}}.fadeInUp{-webkit-animation-name:fadeInUp;-moz-animation-name:fadeInUp;-o-animation-name:fadeInUp;animation-name:fadeInUp}

.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s}@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-webkit-transform:perspective(400px) rotateX(-10deg)}70%{-webkit-transform:perspective(400px) rotateX(10deg)}100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}@-moz-keyframes flipInX{0%{-moz-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-moz-transform:perspective(400px) rotateX(-10deg)}70%{-moz-transform:perspective(400px) rotateX(10deg)}100%{-moz-transform:perspective(400px) rotateX(0deg);opacity:1}}@-o-keyframes flipInX{0%{-o-transform:perspective(400px) rotateX(90deg);opacity:0}40%{-o-transform:perspective(400px) rotateX(-10deg)}70%{-o-transform:perspective(400px) rotateX(10deg)}100%{-o-transform:perspective(400px) rotateX(0deg);opacity:1}}@keyframes flipInX{0%{transform:perspective(400px) rotateX(90deg);opacity:0}40%{transform:perspective(400px) rotateX(-10deg)}70%{transform:perspective(400px) rotateX(10deg)}100%{transform:perspective(400px) rotateX(0deg);opacity:1}}.flipInX{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipInX;-moz-backface-visibility:visible!important;-moz-animation-name:flipInX;-o-backface-visibility:visible!important;-o-animation-name:flipInX;backface-visibility:visible!important;animation-name:flipInX}
